services:
  mc:
    image: itzg/minecraft-server:latest
    container_name: mc-server
    stdin_open: true
    tty: true
    ports:
      - "25565:25565"
    volumes:
      - mc_data:/data
      - ./server:/extras:ro
    environment:
      EULA: "TRUE"
      TYPE: "FORGE"
      VERSION: "1.21.1"
      MEMORY: "4G"
      CREATE_CONSOLE_IN_PIPE: "true"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mc-health"]
      interval: 10s
      retries: 5

 
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - "9443:9443"

  pufferpanel:
    image: pufferpanel/pufferpanel:latest
    container_name: pufferpanel
    restart: unless-stopped
    ports:
      - "8080:8080"  
    volumes:
      - ./pufferpanel/config:/etc/pufferpanel
      - ./pufferpanel/data:/var/lib/pufferpanel
      - /var/run/docker.sock:/var/run/docker.sock

  playit:
    image: ghcr.io/playit-cloud/playit-agent:0.16
    container_name: mc-tunnel
    network_mode: host  
    environment:
      - SECRET_KEY=${PLAYIT_SECRET}
    restart: unless-stopped

volumes:
  mc_data:
  portainer_data: 